<% include partial/head %>
  <% include partial/navbar %>
    <body>
      <div class="wrapper padded">
        <div class="row">
        <div col-md-6 col-md-offset-3>
          <h2 class="text-center">Hi, here's a list of all the users on the website</h2>
          
            <br>
            <table class="table table-striped table-hover ">
              <thead>
                <tr>
                  <th>#</th>
                  <th>User Name</th>
                  <th>User Email</th>
                  <th>Update User Info</th>
                  <th>Delete User</th>
                </tr>
              </thead>
              <tbody>
                <% if(users) { %>
                  <% let count = 1 %>
                  <% for(user in users) { %>
                  <tr>
                    <td><%= count %></td>
                    <td><%= users[user].fullName %></td>
                    <td><%= users[user].email %></td>
                    <td><a class = "btn btn-primary" href = '/userUpdate?id=<%= users[user].userId %>'>Update</a></td>
                    <td><a class = "btn btn-primary" href = '/deleteUpdate?<%= users[user].userId %>'>Delete</a></td>
                  </tr>
                  <% count += 1 %>
                  <% } %>
                <% } else { %>
                  <p class="text-center lead">No records yet</p>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <% include partial/footer %>
    </body>